python-dotenv

pandas
pandas-gbq

dbt-databricks
dbt-postgres
dbt-duckdb
#dbt-trino
#databricks-sql-connector

sqlfluff

azure-storage-blob
azure-identity

google-cloud-bigquery
google-cloud-iam
google-cloud-storage

dagster
dagster-azure
dagster-dbt
dagster-webserver
dagster-cloud
dagster_duckdb
dagster_duckdb_pandas
dagster-aws
dagster-pandas

duckdb
gcsfs
fsspec
adlfs

sling
dlt
dlt[duckdb]

unidecode

SQLAlchemy
pyodbc

requests
matplotlib
Faker==18.4.0

pytest
pylint

imapclient
imap_tools

#openai
#elevenlabs

#fastapi
#fire
#uvicorn